@media (max-width:1200px){
    .container{
        max-width: 960px;
    }
}

@media (max-width:992px){
    .container{
        max-width: 720px;
    }
}

@media (max-width:768px){
    .container{
        max-width: 540px;
    }
    .menu{
        &__list{
            position: fixed;
            top: 0;
            left: -100%;
            width: 50%;
            height: 100vh;
            flex-direction: column;
            /* display: flex */
            justify-content: center;
            align-items: center;
            background-color: rgba(0,0,0, .8);
            padding: 20px 15px;
            transition: 0.6s all;
            &_active{
                left: 0;
            }
        }
        &__item{
            padding-right: 0;
            border: none;
            margin: 10px 0;
        }
        &__link{
            font-size: 20px;
        }
    }
    .hamburger{
        display: block;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 26px;
        height: 12px;
        span{
            display: block;
            height: 2px;
            width: 100%;
            background-color:$main-color;
            margin-bottom: 2px;
            transition: 0.5s all;
        }
        &_active{
            span{
                margin-bottom: -2px;
                &:nth-child(1){
                    transform: translateY(3px) rotate(-45deg);
                }
                    
                &:nth-child(2){
                    display: none;
                }
                &:nth-child(3){
                    transform: translateY(3px) rotate(45deg);
                }
            }
        }
    }
}

@media (max-width:576px){
    .container{
        width: 100%;
        padding: 0 10px;
    }
}