@import 'libs/bootstrap-reboot.min.scss';
/* @import 'libs/slick.scss'; файл подключать когда надо, если не используется, то удалять */
/* @import 'libs/animate.scss'; файл подключать когда надо, если не используется, то удалять */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&family=Roboto:wght@400;700&display=swap');
@import 'base/extends';
@import 'base/variables';
@import 'base/mixins';
@import 'base/title';


* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6, p, a, ul {
    margin: 0;
}

html, body{
    height: 100%;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main{
    flex: 1 0 auto;
}
.footer{
    flex: 0 0 auto;
}

.container{
    width: 1320px;
    margin: 0 auto;
}

@import 'block/header';
@import 'block/popap';
@import 'block/accordion';
@import 'block/promo';
@import 'block/buttons';
@import 'block/reviews';

@import 'base/media';