.button{
    position: relative;
    width: 230px;
    text-align: start;
    background-color: $main-color;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid $main-color;
    transition: all .2s;
    &:hover{
        background-color: #FFFFFF;
        color: $main-color;
        border: 1px solid #337AFF;
    }
    &_white{
        border: 2px solid $main-color;
        background-color: #FFFFFF;
        color: $main-color;
        &:hover{
            background-color: $main-color;
            color: #FFFFFF;
            border: 2px solid $main-color;
        }
    }
}