.contacts{
    width: 100%;
    padding: 70px 0 80px;
    &__map{
        margin-top: 100px;
        width: 100vw;
        margin-left: calc(50% - 50vw);
    }
    &__list{
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }
    &__item{
        max-width: 430px;
        &-title{
            font-weight: 600;
            font-size: 36px;
            line-height: 42px;
        }
        &-info{
            margin-top: 15px;
            position: relative;
            display: flex;
            gap: 25px;
        }
        &-descr{ 
            @extend %subtitle_h4;
            font-weight: 400;
            span{
                line-height: 150%;
            }
        }
/*         &-icon{
            display: flex;
            align-items: center;
        } */
        &-link{
            position: absolute;
            top: 73px;
            left: 111px;
        }
    }
}