.gallery{
    width: 100%;
    padding: 70px 0 110px;
    &__slider{
        margin-top: 50px;
        .slick-prev, .slick-next{
            z-index: 2;
            rotate: 90deg;
            position: absolute;
            top: 50%;
            right: -60px;
            width: 65px;
            transform: translateX(-50%);
            background-color: #FFF;
            border: none;
            transition: all .2s;
            padding: 10px;
            &:hover{
                transform: scale(1.2) translateX(-40%);
            }
        }
        .slick-next{
            left: -70px;
        }
    }
}